.btn {
  display: block;
  margin-bottom: 30px;
  line-height: @line-height--h1;

  &--download {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: @font-size--big;
    font-weight: 700;
    color: @text--white;
    border: 3px solid @text--white;
    border-radius: 27px;
    text-decoration: none;
  }
}
