.contacts {
  position: relative;
  padding-top: 25px;
  padding-bottom: 8px;

  &__container {
    .container();

    @media (min-width: @screen_tablet) {
      width: @width-container--tablet;
    }

    @media (min-width: @screen_desktop) {
      width: @width-container--desktop;
    }
  }

  &__heading {

    margin-bottom: 27px;

    @media (min-width: @screen_tablet) {
      width: 500px;
      margin: auto;
    }

    @media (min-width: @screen_desktop) {
      margin-bottom: 50px;
    }
  }
}

.contacts-items {

  @media (min-width: @screen_tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.contacts-item {

  margin-bottom: 20px;
  line-height: 1.4;

  @media (min-width: @screen_tablet) {
    width: 280px;
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 0;
    font-size: @font-size--h2;
    font-weight: (@font-weight--base + 300);
  }

  &__contact {
    margin-top: 0;
    font-size: @font-size--h1;
    font-weight: (@font-weight--base - 100);
    color: @pink;
  }
}

.contacts-item__contact--mail {
  .base-link();

  font-weight: (@font-weight--base - 100);
  text-decoration: none;
  cursor: pointer;
}
