.download-app {
  color: @text--white;
  background-color: @bg--dark;

  &__container {
    width: @width-container;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 21px;
  }

  &__platforms {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

.platform {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    height: 60px;
    margin-right: 30px;
    background-image: url("../img/sprite.png");

  &:last-child {
    margin-right: 0;
  }

  &--Apple {
    background-position: 106px -4px;
  }

  &--Android {
    background-position: 159px 6px;
  }

  &--Windows {
    background-position: 50px 9px;
  }
}
