.download-app {
  position: relative;
  z-index: 100;
  font-weight: (@font-weight--base - 100);
  color: @text--white;
  background-color: @bg--dark;
  padding-top: 28px;
  padding-bottom: 21px;


  &__container {
    .container();
    max-width: 320px;
  }

  &__platforms {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    @media (min-width: @screen_tablet) {
      margin-top: 43px;
      margin-bottom: 34px;
    }
  }

  @media (min-width: @screen_tablet) {
    padding-top: 4px;
    font-size: @font-size--big;
    background: none;
  }
}

.platform {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 47px;
  height: 60px;
  margin-left: 4%;
  margin-right: 4%;
  background-image: url("../img/sprite.png");

  &:last-child {
    margin-right: 0;
  }

  &--Apple {
    background-position: 106px -4px;
  }

  &--Android {
    background-position: 159px 6px;
  }

  &--Windows {
    background-position: 50px 9px;
  }
}
