.features {

  &__container {
    .container();

    @media (min-width: @screen_tablet) {
      max-width: 320px;
      margin-right: 3%;
    }
  }

  &__title {

    padding-top: 22px;
  }

  &__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 26px;
    background-image: linear-gradient(to left top, @bg--grey 50%, @bg--white 50%);
  }

  &__items {

    padding-top: 11px;
    background-color: @bg--grey;

    @media (min-width: @screen_tablet) {
      text-align: left;
    }
  }


}

.features-item {
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  &:last-child {

    @media (min-width: @screen_tablet) {
      padding-bottom: 45px;
    }
  }


  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    width: 100%;
    max-width: 157px;
    max-height: 278px;
    overflow: hidden;

    @media (min-width: @screen_tablet) {
      position: absolute;
      bottom: 0;
      left: -80%;
    }
  }



  &__image--mood,
  &__image--world {
    display: none;

    @media (min-width: @screen_desktop) {
      display: block;
    }
  }
}

