.form {
  font-size: @font-size;
  line-height: 2.142857143;
  color: @grey--dark;

  &__container {
    .container();
    .clearfix();

    @media (min-width: @screen_tablet) {
      width: @width-container--tablet;
      padding-top: 50px;
    }

    @media (min-width: @screen_desktop) {
      width: @width-container--desktop;
    }
  }

  &__description {
    margin-top: 45px;

    @media (min-width: @screen_tablet) {
      max-width: 75%;
      margin: auto;
    }
  }

  &__description--full {
    display: none;

    @media (min-width: @screen_tablet) {
      display: inline;
    }
  }
}

.form__fieldset {
  border: none;

  @media (min-width: @screen_tablet) {
    margin: 0;
    padding: 30px 58px;
    border: 2px solid #e7e7e7;
    border-radius: 2px;
  }
}

.form__fieldset--date {

  @media (min-width: @screen_tablet) {
    text-align: left;
  }
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 23px;
  padding: 15px 3px 15px 20px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  outline: none;
  font-size: @font-size--big;
  line-height: @line-height--base;

  &--radio,
  &--checkbox,
  &--file {
    display: none;
  }

  &[type="text"]:hover,
  &[type="date"]:hover {
    border-color: @grey--dark;
  }

  &[type="text"]:focus,
  &[type="date"]:focus {
    border-color: @pink;
  }

  &--radio:checked ~ .user-platform__item::after {
    position: absolute;
    top: 6px;
    left: 12.5px;
    width: 15px;
    height: 15px;
    content: "";
    background: @pink;
    border-radius: 50%;
  }

  &--checkbox:checked ~ .achievement__item::after {
    position: absolute;
    top: 7px;
    left: 9px;
    width: 26px;
    height: 20px;
    content: "";
    background: url("../img/icon_checkbox.png") 0 0 no-repeat;
  }

  &--number {
    flex-grow: 1;
    min-width: 100px;
    margin-bottom: 0;
    border-left-style: none;
    border-right-style: none;
    text-align: center;
  }

  &--leaving-date {
    background: @bg--grey;
  }

  &--companions {

    @media (min-width: @screen_tablet) {
      width: 300px;
    }
  }
}

.form__title {
  display: block;
  margin-bottom: 12px;
  line-height: @line-height--h2;
  text-transform: uppercase;
  color: @pink;

  &--name {
    margin-left: 23px;
    text-align: left;
  }

  &--general {
    margin-top: 19px;
    margin-bottom: 42px;
  }

  &--date {
    margin-top: 15px;
    margin-bottom: 22px;
  }

  &--companions {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  &--companion-info {
    margin-left: 22px;
    text-align: left;
  }

  &--photo {
    margin-top: 7px;
    margin-bottom: 32px;
  }

  &--legend {

    @media (min-width: @screen_tablet) {
      padding-right: 20px;
      padding-left: 20px;
      margin: auto;
      text-align: center;
    }
  }
}

.form-section {
  padding-top: 29px;
  padding-bottom: 20px;

  &--white {
    background-color: @bg--white;
  }

  &--grey {
    background-color: @bg--grey;

    @media (min-width: @screen_tablet) {
      background-color: @bg--white;
    }
  }

  &--photo {
    padding-bottom: 7px;
  }

  &--date {
    padding-bottom: 27px;
  }
}

.user-platform {
  margin-top: 35px;
  text-align: left;

  & label {
    cursor: pointer;
  }

  & li {
    margin-bottom: 35px;
  }

  & li:last-child {
    margin-bottom: 23px;
  }

  &__item {
    position: relative;
    font-size: @font-size--big;
  }

  &__item::before {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    background: @bg--white;
  }
}

.form__input[type="radio"]:hover ~ .user-platform__item::before {
  border-color: @grey--dark;
}

.form__input[type="radio"]:active ~ .user-platform__item::before {
  border-color: @pink;
}

.form__input[type="checkbox"]:hover ~ .achievement__item::before {
  border-color: @grey--dark;
}

.form__input[type="checkbox"]:active ~ .achievement__item::before {
  border-color: @pink;
}

.number-field {
  display: flex;
  justify-content: space-between;

  &__control {
    padding: 0 15px;
    border: 2px solid #e7e7e7;
    font-size: 57px;
    line-height: 57px;
    color: @grey--dark;
    background: @bg--white;
  }

  &__control:hover {
    border-color: @grey--dark;
  }

  &__control:active {
    border-color: @grey--dark;
    color: @text--white;
    background: @grey--dark;
  }
}

.number-field--companions {
  @media (min-width: @screen_tablet) {
    width: 250px;
  }
}

.number-field--duration,
.form__input--date,
.form__input--leaving-date {

  @media (min-width: @screen_tablet) {
    margin: 0;
  }
}

.form__group--name {

  @media (min-width: @screen_desktop) {
    display: inline-block;
    vertical-align: bottom;
    width: 300px;
    margin-right: 20px;
  }

  &:last-of-type {

    @media (min-width: @screen_desktop) {
      margin-right: 0;
    }
  }
}


.form__group--date {

  @media (min-width: @screen_tablet) {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

  &:nth-of-type(2) {

    @media (min-width: @screen_tablet) {
      margin-right: 0;
    }

    @media (min-width: @screen_desktop) {
      margin-right: 20px;
    }
  }

  &:last-of-type {

    @media (min-width: @screen_desktop) {
      margin-right: 0;
    }
  }
}

.form__group--companions {

  @media (min-width: @screen_desktop) {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
  }
}

.form-section--grey {

  & .form__input--number {
    background: @bg--grey;

    @media (min-width: @screen_tablet) {
      background: @bg--white;
      border: none;
    }
  }
}

.companions {
  margin-top: 48px;
  padding-top: 34px;
  border-top: 2px solid #e7e7e7;
}

.companion-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 3px;
  }
}

.companion-info {
  flex-grow: 1;
  position: relative;

  &__delete {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    color: @grey--dark;

    @media (min-width: @screen_tablet) {
      display: block;
    }
  }

  &__delete:hover {
    color: @pink;
    text-decoration: underline;
  }

  &__delete:active {
    color: @pink;
    text-decoration: none;
    opacity: 0.3;
  }
}

.item-number {

  @media (min-width: @screen_tablet) {
    text-align: center;
    margin-right: 20px;
  }

  &__number {
    box-sizing: border-box;
    margin-bottom: 23px;
    padding: 15px 25px;
    border: 2px solid #e7e7e7;
    border-right: none;
    border-radius: 2px;
    font-size: @font-size--big;
    line-height: @line-height--base;
    background: @bg--grey;

    @media (min-width: @screen_tablet) {
      border-right: 2px solid #e7e7e7;
    }
  }
}

.achievement {
  text-align: left;

  & label {
    cursor: pointer;
  }

  & li {
    margin-bottom: 40px;
    font-size: @font-size--big;
  }

  & li:last-child {
    margin-bottom: 27px;
  }

  &__item {
    position: relative;
  }

  &__item::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border: 2px solid #e7e7e7;
    background: @bg--white;
  }
}

.form-correction {
  margin-bottom: 52px;
  text-transform: uppercase;

  &__symbol {
    font-size: @font-size--big;
    color: @pink;
  }

  &__full-text {
    display: none;

    @media (min-width: @screen_desktop) {
      display: inline;
    }
  }

  @media (min-width: @screen_tablet) {
    float: right;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
