.page-title {
  margin: auto;
  padding-top: 77px;
  color: @text--white;
  background-color: @bg--dark;
  background-image: url("../img/background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 700px auto;

  &--main {
    margin-left: 0;
    padding-top: 65px;
    padding-bottom: 250px;
  }

  &__container {
    .container();
  }

  @media (min-width: @screen_tablet) {
    padding-top: 183px;
    padding-bottom: 70px;
    background: none;
  }

  @media (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {
    background-image: url("../img/background-mobile@2x.jpg");
  }

  @media (min-resolution: 240dpi),
         (min-resolution: 2.5dppx) {
    background-image: url("../img/background-mobile@3x.jpg");
  }
}

.page-title__heading {
  position: relative;
  max-width: 820px;
  margin-top: 20px;
  padding-bottom: 56px;
  z-index: 100;

  @media (min-width: @screen_tablet) {
    padding-bottom: 0;
    font-size: 2.5rem;
  }

  &--main {
    max-width: 300px;
  }

  &--blog {
    padding-bottom: 44px;
  }

  &--form {
    @media (min-width: @screen_tablet) {
      max-width: 80%;
      margin: auto;
    }
  }
}
