.page-title {
  padding-top: 77px;
  color: @text--white;
  background: @bg--dark url("../img/bg_page-title.jpg") 100% no-repeat;
  background-size: cover;

  &--main {
  padding-top: 65px;
  }

  &__container {
    .container();
  }

  &__heading {
    margin-top: 20px;
    padding-bottom: 56px;
  }

  &__heading--blog {
    padding-bottom: 44px;
  }

  &__image {
    width: 100%;
    max-width: 320px;
    max-height: 295px;
    margin-top: -41px;
    overflow: hidden;
  }
}
