.pagination {
  .container();

  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 26px;
  margin-bottom: 49px;
  margin-left: 0;

  &--numeral::before {
    display: none;
    content: "Стр.";
    position: absolute;
    top: 17px;
    left: -60px;
    width: 45px;
    height: 25px;
    font-size: @font-size--big;
    font-weight: 700;
    text-transform: uppercase;
    color: @grey--dark;

    @media all and (min-width: @screen_tablet) {
      display: block;
    }
  }

  &--textual {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 38px;
  }

  &__link {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 22px;
    font-size: @font-size--big;
    font-weight: (@font-weight--base + 300);
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    color: @grey--dark;
    background: @bg--white;
  }

  &__link:not(&__link--active):hover {
    border-color: @grey--dark;
  }

  &__link:not(&__link--active):active {
    opacity: 0.3;
  }

  &__link:last-child {
    margin-right: 0;
  }

  &__link--active {
    border-color: @pink;
  }

  &__link--textual {
    margin-right: 0;
    margin-bottom: 19px;
    padding: 15px 13%;
  }

  &__link--large {
    width: 100%;
    margin-bottom: 11px;
  }

  &__link--textual:hover,
  &__link--large:hover {
    border-color: @grey--dark;
  }
}
