.post {
  margin-bottom: 43px;

  &__title {
    margin-top: 40px;
    padding-bottom: 9px;
    font-size: (@font-size--h1 + 0.275rem);
    font-weight: (@font-weight--base + 300);
    line-height: @line-height--h1;
    color: @grey--dark;
  }
}

.post-rubric {
  padding-top: 10px;
  text-align: left;
  font-size: @font-size;
  line-height: (@line-height--base + 0.3);

  &__subtitle {
    margin-bottom: 20px;
    font-size: @font-size--big;
    font-weight: (@font-weight--base + 300);
    text-transform: uppercase;
  }
}

