.price {

  background-color: @bg--grey;
  padding-bottom: 40px;
  text-transform: uppercase;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 22px;
    background-image: linear-gradient(to right bottom, @bg--white 50%, @bg--grey 50%);
  }
}

.price-table {
  position: relative;
  left: -82%;
  width:  845px;
  margin: 65px auto 36px;
  overflow: hidden;

  &__header {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: @grey--dark;
    color: @text--white;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
  }

  &__title {
    font-size: @font-size--big;
    font-weight: (@font-weight--base + 300);
    line-height: 1.2;
  }

  &__cost {
    font-size: @font-size--h1;
    font-weight: (@font-weight--base - 100);
    line-height: 1;
  }

  &__service {
    position: relative;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 25px;
    font-size: @font-size;
    text-align: left;
    background-color: @bg--white;
    border: 1px solid #e5e5e5;
  }

  &__service::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 27px;
    height: 27px;
  }

  &__service--yes::after {
    background: url("../img/icon_yes.png") no-repeat 0 0;
  }

  &__service--no::after {
    background: url("../img/icon_no.png") no-repeat 0 0;
  }

  &__flag {
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 10;
    width: 72px;
    height: 72px;
    text-indent: -1000px;
    overflow: hidden;
  }

  &__flag--hit {
    background: url("../img/flag_hit.png") no-repeat 0 0;
  }
}
