.proof {
  display: none;
  font-size: @font-size;
  line-height: @line-height--base;
  background: @bg--white;
  text-align: left;

  @media (min-width: @screen_tablet) {
    display: block;
  }

  @media (min-width: @screen_desktop) {
    font-size: @font-size--big;
    background: @bg--grey;
  }

  &__container {
    .container();

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }

  &__content {

    @media (min-width: @screen_tablet) {
      width: auto;
    }

    @media (min-width: @screen_desktop) {
      max-width: 620px;
    }
  }

  &__title {
    font-size: (@font-size--h2 + 0.75);
    font-weight: (@font-weight--base + 300);

    @media (min-width: @screen_desktop) {
      font-size: @font-size--h2;
    }
  }
}

.timer__color {

  @media (min-width: @screen_tablet) {
    fill: #eeeeee;
  }

  @media (min-width: @screen_desktop) {
    fill: #dedede;
  }
}

.timer__image {
  position: relative;
  width: 298.001px;
  height: 345.097px;
  z-index: 20;

  @media (min-width: @screen_tablet) {
    margin-right: 50px;
  }

  @media (min-width: @screen_desktop) {
    margin-right: 65px;
  }

  &::before {
    content: "24";
    position: absolute;
    top: 85px;
    left: 38px;
    width: 197px;
    height: 197px;
    font-family: @font-family--base;
    font-size: 104.6px;
    font-weight: 700;
    line-height: 197px;
    text-align: center;
    color: @pink;
    border: 12px solid @pink;
    border-radius: 50%;
    background-color: @bg--white;
    z-index: 100;

    @media (min-width: @screen_desktop) {
      background-color: @bg--grey;
    }
  }
}
