.reviews {
  padding-top: 28px;

  &__container {
    width: @width-container;
    margin: auto;
  }
}

.reviews-item {
  margin-bottom: 27px;

  &__title {
    font-size: @font-size--h2;
  }

  &__text {

    line-height: 2.2;
  }

  &--2,
  &--3 {
    display: none;
  }
}

.slider-reviews {
  padding-bottom: 40px;
}
