.reviews {
  padding-top: 28px;

  &__container {
    .container();
  }
}

.reviews-item {
  margin-bottom: 27px;

  &__text {
    line-height: 2.2;
  }

  &--2,
  &--3 {
    display: none;
  }
}

.slider-reviews {
  padding-bottom: 40px;
}
