html {
  font-size: @html-size--base;
}

body {
  position: relative;
  margin: 0;
  text-align: center;
  font-family: @font-family--base;
  font-size: @font-size;
  line-height: @line-height--base;
  background-color: @bg--white;
  color: @grey--dark;
}

img {
  max-width: 100%;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  margin-top: 20px;
  padding-bottom: 9px;
  font-size: @font-size--h1;
  font-weight: (@font-weight--base - 100);
  line-height: @line-height--h1;
}

h2 {
  font-size: @font-size--h2;
  color: #000000;
}

a {
  color: @pink;
  text-decoration: none;
}

.base-link {
  font-weight: 400;
  color: @pink;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.base-list {
  text-align: left;

  &__item {
    margin: 30px 0 25px;
    position: relative;
    padding-left: 21px;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: @pink;
    border-radius: 100%;
  }
}

.base-blockquote {
  margin-bottom: 2px;
  padding-left: 19px;
  text-align: left;
  border-left: 2px solid @pink;

  & blockquote {
    margin: 32px 0 9px;
  }

  & cite {
    font-style: italic;
    color: @grey--light;
  }
}

.date {
  display: block;
  margin-bottom: 17px;
  font-size: @font-size--small;
  text-transform: uppercase;
  color: @pink;
}
